* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
    }
/* navbar */
.Navstyle {
  height: 50px;
  position: relative;
  top: -630px; /* Adjusted to normal position */
  min-width: 500px;
  width: 100%;
  backdrop-filter: blur(10px); /* Proper blur effect */
  background-color: rgba(255, 255, 255, 0.089);
  display: flex;
  align-items: center;
  z-index: 10;
}

.d-f {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#fff;
  padding: 0 140px;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color:#fff;
  line-height: normal;
  font-weight: 400;
  padding: 6px 12px;
  border-radius: 0px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color:#e50914;
  border-bottom: 4px solid #e50914;
  transition: border-bottom 0.2s ease;
}


/* hero */

.hero {
      position: relative;
      height: 650px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10rem;
      color: #fff;
      background:
        linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0,0,0,0.2)),
        url('https://images.unsplash.com/photo-1524985069026-dd778a71c7b4') center/cover no-repeat;
    }
    .hero h1 {
      font-size: 2.42rem;
      font-weight: bold;
      max-width: 600px;
      margin: 0;
    }

    .hero p {
      font-size: 1.5rem;
      max-width: 600px;
      margin-top: 1.618rem;
    }

    .hero-buttons {
      margin-top: 1.618rem;
    }

    .hero-buttons button {
      padding: 1rem 1.618rem;
      font-size: 1.2rem;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      margin-right: 1rem;
      transition: background-color 0.3s ease;
    }

    .btn-primary {
      background-color: #e50914;
      color: white;
    }

    .btn-primary:hover {
      background-color: #b20710;
    }

    .btn-secondary {
      background-color: rgba(255, 255, 255, 0.089);
      color: white;
      border: 1px solid white;
    }

    .btn-secondary:hover {
      background-color: rgb(255, 255, 255);
      color: #000;
    }

    @media (max-width: 600px) {
      .hero {
        padding: 0 1rem;
      }

      .hero h1 {
        font-size: 2rem;
        max-width: 100%;
      }

      .hero p {
        font-size: 1.2rem;
        max-width: 100%;
      }

      .hero-buttons button {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
      }
    }

    /* add */
    .add{
      position: fixed;
      z-index: 10;
      bottom: 150px;
      right: 0px;
    }

    .btnplus{
      height: 50px;
      width: 50px;
      font-size: 30px !important;
      font-weight: 500 !important;
      background-color: red !important;
      text-align: center !important;
      padding: 0  !important;
      border: none !important;
      
    }